/* Importation des fonts */
@font-face {
  /* Creation d'un alias */
  font-family: "playfairDR";
  src: url(../font/PlayfairDisplay-Regular.ttf);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "playfairDR", serif;
  img {
    width: 100%;
  }
}
/* Pour appeler l'id logo j'utilise le selecteur id# et son nom logo */

#logo {
  padding: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 550;
  color: rgb(80, 80, 80);
}

/* Pour appeler un element HTML dans un selecteur j'utilise son nom */
nav {
  display: flex;
  /* Pour gerer l'aglignement vertical des enfants de ma nav j'utilise align-items: ; */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.863);
  /* Le z index ne fonctionne pas avec une postion statique(Position par défaut) */
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  color: rgb(80, 80, 80);
}
ul {
  display: flex;
  list-style-type: none;
}

/* n'est pas utile car applicable à ul
li{
    list-style-type: none;
} */

li {
  padding: 16px;
}
#img-header {
  background-image: url(../img/hamburger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 55px;
  color: rgb(80, 80, 80);
}
h1 {
  padding: 1rem;
  font-family: "playfairDR";
  font-weight: 400;
}

/* MAIN
Section About */

#section1 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto;
}

/* Pour appeler des elements enfants (que ceux à l'interieur d'un parent) j'appelle en premier le parent puis un espace puis ses enfants */

#section1 div {
  width: 47%;
}
#about #h2,
#about #h3 {
  text-align: center;
}
#section1 span {
  background-color: rgba(211, 211, 211, 0.651);
}
#section1 h2 {
  letter-spacing: 4px;
  font-weight: 400;
  margin: 4rem 0;
  text-align: center;
}

#section1 h3 {
  letter-spacing: 4px;
  font-weight: 200;
  margin: 4rem 0;
  text-align: center;
}
#p1 {
  font-weight: 500;
  margin: 4rem 0;
  text-align: center;
  line-height: 2rem;
}
#p2 {
  margin: 4rem 0;
  font-weight: 200;
  text-align: center;
  line-height: 2rem;
}

/*Section 2 */

#section2 {
  justify-content: space-between;
  display: flex;
  margin: 2rem 18rem;
}

#divTitre h2 {
  font-size: 3rem;
  text-align: center;
}
#divTitre h3 {
  letter-spacing: 4px;
  font-weight: 600;
  margin: 3rem 0;
  text-align: left;
}
#divTitre p {
  font-weight: 200;
}

/*Section Contact */

#contact {
  display: flex;
  justify-content: center;
  text-align: start;
}

#contactP1 {
  margin: 3rem 0;
}

#contactP2 {
  color: rgb(56, 140, 155);
  margin: 3rem 0;
  font-size: 1.5rem;
}

#contactP3 {
  margin: 3rem 0;
}

#contact h2 {
  letter-spacing: 4px;
  line-height: 2rem;
  font-weight: 600;
  font-size: 2rem;
  margin: 3rem 0;
}
